; You can setting log level you likes.(debug | info | warn | error)
LOG_LEVEL="info, nekoui-agent=debug, nekoui-cli=debug, nekoui-config=debug, nekoui-discord=debug, nekoui-domain=debug, nekoui-infra=debug, nekoui-memory=debug, nekoui-setup=debug, nekoui-tools=debug"