; You can setting log level you likes.(debug | info | warn | error)
LOG_LEVEL="info, nekoai-agent=debug, nekoai-cli=debug, nekoai-config=debug, nekoai-discord=debug, nekoai-domain=debug, nekoai-infra=debug, nekoai-memory=debug, nekoai-setup=debug, nekoai-tools=debug"